$margin: (
	'lg': (
		100: 0.8rem,
		200: 1.6rem,
		300: 2.4rem,
		400: 3.2rem,
		500: 3.6rem,
		600: 4.8rem,
		700: 5.6rem,
		800: 7.2rem,
		900: 9.6rem,
	),
	'sm': (
		100: 0.4rem,
		200: 1.2rem,
		300: 2rem,
		400: 2.8rem,
		500: 3.2rem,
		600: 4.4rem,
		700: 4.8rem,
		800: 6.4rem,
		900: 8.8rem,
	),
);

$padding: (
	'lg': (
		100: 0.25em,
		200: 0.5em,
		300: 0.75em,
		400: 1em,
		500: 1.25em,
		600: 1.5em,
		700: 1.75em,
		800: 2em,
		900: 3em,
	),
	'sm': (
		100: 0.25em,
		200: 0.5em,
		300: 0.75em,
		400: 1em,
		500: 1.25em,
		600: 1.5em,
		700: 1.75em,
		800: 2em,
		900: 3em,
	),
);

$font-sizes: (
	'lg': (
		100: 0.676rem,
		200: 0.9rem,
		300: 1.2rem,
		400: 1.6rem,
		500: 2.133rem,
		600: 2.843rem,
		700: 3.79rem,
		800: 5.052rem,
		900: 6.734rem,
	),
	'sm': (
		100: 0.591rem,
		200: 07.88rem,
		300: 1.05rem,
		400: 1.4rem,
		500: 1.866rem,
		600: 2.488rem,
		700: 3.316rem,
		800: 4.42rem,
		900: 5.892rem,
	),
);
